<a href="https://colab.research.google.com/github/PhaneendraYedidi/Machine-Learning-Practices/blob/master/Amazon_Fine_Food_Reviews_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Amazon Fine Food Reviews Analysis


Data Source: https://www.kaggle.com/snap/amazon-fine-food-reviews <br>

EDA: https://nycdatascience.com/blog/student-works/amazon-fine-foods-visualization/


The Amazon Fine Food Reviews dataset consists of reviews of fine foods from Amazon.<br>

Number of reviews: 568,454<br>
Number of users: 256,059<br>
Number of products: 74,258<br>
Timespan: Oct 1999 - Oct 2012<br>
Number of Attributes/Columns in data: 10 

Attribute Information:

1. Id
2. ProductId - unique identifier for the product
3. UserId - unqiue identifier for the user
4. ProfileName
5. HelpfulnessNumerator - number of users who found the review helpful
6. HelpfulnessDenominator - number of users who indicated whether they found the review helpful or not
7. Score - rating between 1 and 5
8. Time - timestamp for the review
9. Summary - brief summary of the review
10. Text - text of the review


#### Objective:
Given a review, determine whether the review is positive (rating of 4 or 5) or negative (rating of 1 or 2).

<br>
[Q] How to determine if a review is positive or negative?<br>
<br> 
[Ans] We could use Score/Rating. A rating of 4 or 5 can be cosnidered as a positive review. A rating of 1 or 2 can be considered as negative one. A review of rating 3 is considered nuetral and such reviews are ignored from our analysis. This is an approximate and proxy way of determining the polarity (positivity/negativity) of a review.

# [1]. Reading Data

## [1.1] Loading the data

The dataset is available in two forms
1. .csv file
2. SQLite Database

In order to load the data, We have used the SQLITE dataset as it is easier to query the data and visualise the data efficiently.
<br> 

Here as we only want to get the global sentiment of the recommendations (positive or negative), we will purposefully ignore all Scores equal to 3. If the score is above 3, then the recommendation wil be set to "positive". Otherwise, it will be set to "negative".

In [1]:
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")


import sqlite3
import pandas as pd
import numpy as np
import nltk
import string
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import roc_curve, auc
from nltk.stem.porter import PorterStemmer

import re
# Tutorial about Python regular expressions: https://pymotw.com/2/re/
import string
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from gensim.models import Word2Vec
from gensim.models import KeyedVectors
import pickle

from tqdm import tqdm
import os

In [2]:
#Check whether GPU is being used - https://medium.com/deep-learning-turkey/google-colab-free-gpu-tutorial-e113627b9f5d
#import tensorflow as tf
#tf.test.gpu_device_name()

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# using SQLite Table to read data.
con = sqlite3.connect('drive/My Drive/Classroom/AML/16 - Amazon Food Review/database.sqlite') 

# filtering only positive and negative reviews i.e. 
# not taking into consideration those reviews with Score=3
# SELECT * FROM Reviews WHERE Score != 3 LIMIT 500000, will give top 500000 data points
# you can change the number to any other number based on your computing power

filtered_data = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 LIMIT 100000""", con) 
# for tsne assignment you can take 5k data points

#filtered_data = pd.read_sql_query(""" SELECT * FROM Reviews WHERE Score != 3 LIMIT 5000""", con) 

# Give reviews with Score>3 a positive rating(1), and reviews with a score<3 a negative rating(0).
def partition(x):
    if x < 3:
        return 0
    return 1

#changing reviews with score less than 3 to be positive and vice-versa
actualScore = filtered_data['Score']
positiveNegative = actualScore.map(partition) 
filtered_data['Score'] = positiveNegative
print("Number of data points in our data", filtered_data.shape)
filtered_data.head(3)

Number of data points in our data (100000, 10)

   Id  ...                                               Text
0   1  ...  I have bought several of the Vitality canned d...
1   2  ...  Product arrived labeled as Jumbo Salted Peanut...
2   3  ...  This is a confection that has been around a fe...

[3 rows x 10 columns]

In [5]:
display = pd.read_sql_query("""
SELECT UserId, ProductId, ProfileName, Time, Score, Text, COUNT(*)
FROM Reviews
GROUP BY UserId
HAVING COUNT(*)>1
""", con)

In [6]:
print(display.shape)
display.head()

(80668, 7)

               UserId  ... COUNT(*)
0  #oc-R115TNMSPFT9I7  ...        2
1  #oc-R11D9D7SHXIJB9  ...        3
2  #oc-R11DNU2NBKQ23Z  ...        2
3  #oc-R11O5J5ZVQE25C  ...        3
4  #oc-R12KPBODL2B5ZD  ...        2

[5 rows x 7 columns]

In [7]:
display[display['UserId']=='AZY10LLTJ71NX']

              UserId  ... COUNT(*)
80638  AZY10LLTJ71NX  ...        5

[1 rows x 7 columns]

In [8]:
display['COUNT(*)'].sum()

393063

#  [2] Exploratory Data Analysis

## [2.1] Data Cleaning: Deduplication

It is observed (as shown in the table below) that the reviews data had many duplicate entries. Hence it was necessary to remove duplicates in order to get unbiased results for the analysis of the data.  Following is an example:

In [9]:
display= pd.read_sql_query("""
SELECT *
FROM Reviews
WHERE Score != 3 AND UserId="AR5J8UI46CURR"
ORDER BY ProductID
""", con)
display.head()

       Id  ...                                               Text
0   78445  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
1  138317  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
2  138277  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
3   73791  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...
4  155049  ...  DELICIOUS WAFERS. I FIND THAT EUROPEAN WAFERS ...

[5 rows x 10 columns]

As it can be seen above that same user has multiple reviews with same values for HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, Summary and Text and on doing analysis it was found that <br>
<br> 
ProductId=B000HDOPZG was Loacker Quadratini Vanilla Wafer Cookies, 8.82-Ounce Packages (Pack of 8)<br>
<br> 
ProductId=B000HDL1RQ was Loacker Quadratini Lemon Wafer Cookies, 8.82-Ounce Packages (Pack of 8) and so on<br>

It was inferred after analysis that reviews with same parameters other than ProductId belonged to the same product just having different flavour or quantity. Hence in order to reduce redundancy it was decided to eliminate the rows having same parameters.<br>

The method used for the same was that we first sort the data according to ProductId and then just keep the first similar product review and delelte the others. for eg. in the above just the review for ProductId=B000HDL1RQ remains. This method ensures that there is only one representative for each product and deduplication without sorting would lead to possibility of different representatives still existing for the same product.

In [10]:
#Sorting data according to ProductId in ascending order
sorted_data=filtered_data.sort_values('ProductId', axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [11]:
#Deduplication of entries
final=sorted_data.drop_duplicates(subset={"UserId","ProfileName","Time","Text"}, keep='first', inplace=False)
final.shape

(87775, 10)

In [12]:
#Checking to see how much % of data still remains
(final['Id'].size*1.0)/(filtered_data['Id'].size*1.0)*100

87.775

<b>Observation:-</b> It was also seen that in two rows given below the value of HelpfulnessNumerator is greater than HelpfulnessDenominator which is not practically possible hence these two rows too are removed from calcualtions

In [13]:
display= pd.read_sql_query("""
SELECT *
FROM Reviews
WHERE Score != 3 AND Id=44737 OR Id=64422
ORDER BY ProductID
""", con)

display.head()

      Id  ...                                               Text
0  64422  ...  My son loves spaghetti so I didn't hesitate or...
1  44737  ...  It was almost a 'love at first bite' - the per...

[2 rows x 10 columns]

In [14]:
final=final[final.HelpfulnessNumerator<=final.HelpfulnessDenominator]

In [15]:
#Before starting the next phase of preprocessing lets see the number of entries left
print(final.shape)

#How many positive and negative reviews are present in our dataset?
final['Score'].value_counts()

(87773, 10)

1    73592
0    14181
Name: Score, dtype: int64

#  [3] Preprocessing

## [3.1].  Preprocessing Review Text

Now that we have finished deduplication our data requires some preprocessing before we go on further with analysis and making the prediction model.

Hence in the Preprocessing phase we do the following in the order below:-

1. Begin by removing the html tags
2. Remove any punctuations or limited set of special characters like , or . or # etc.
3. Check if the word is made up of english letters and is not alpha-numeric
4. Check to see if the length of the word is greater than 2 (as it was researched that there is no adjective in 2-letters)
5. Convert the word to lowercase
6. Remove Stopwords
7. Finally Snowball Stemming the word (it was obsereved to be better than Porter Stemming)<br>

After which we collect the words used to describe positive and negative reviews

In [16]:
# printing some random reviews
sent_0 = final['Text'].values[0]
print(sent_0)
print("="*50)

sent_1000 = final['Text'].values[1000]
print(sent_1000)
print("="*50)

sent_1500 = final['Text'].values[1500]
print(sent_1500)
print("="*50)

sent_4900 = final['Text'].values[4900]
print(sent_4900)
print("="*50)

My dogs loves this chicken but its a product from China, so we wont be buying it anymore.  Its very hard to find any chicken products made in the USA but they are out there, but this one isnt.  Its too bad too because its a good product but I wont take any chances till they know what is going on with the china imports.
==================================================
The Candy Blocks were a nice visual for the Lego Birthday party but the candy has little taste to it.  Very little of the 2 lbs that I bought were eaten and I threw the rest away.  I would not buy the candy again.
==================================================
was way to hot for my blood, took a bite and did a jig  lol
==================================================
My dog LOVES these treats. They tend to have a very strong fish oil smell. So if you are afraid of the fishy smell, don't get it. But I think my dog likes it because of the smell. These treats are really small in size. They are great for training. You can give your dog several of these without worrying about him over eating. Amazon's price was much more reasonable than any other retailer. You can buy a 1 pound bag on Amazon for almost the same price as a 6 ounce bag at other retailers. It's definitely worth it to buy a big bag if your dog eats them a lot.
==================================================

In [17]:
# remove urls from text python: https://stackoverflow.com/a/40823105/4084039
sent_0 = re.sub(r"http\S+", "", sent_0)
sent_1000 = re.sub(r"http\S+", "", sent_1000)
sent_150 = re.sub(r"http\S+", "", sent_1500)
sent_4900 = re.sub(r"http\S+", "", sent_4900)

print(sent_0)

My dogs loves this chicken but its a product from China, so we wont be buying it anymore.  Its very hard to find any chicken products made in the USA but they are out there, but this one isnt.  Its too bad too because its a good product but I wont take any chances till they know what is going on with the china imports.

In [18]:
# https://stackoverflow.com/questions/16206380/python-beautifulsoup-how-to-remove-all-tags-from-an-element
from bs4 import BeautifulSoup

soup = BeautifulSoup(sent_0, 'lxml')
text = soup.get_text()
print(text)
print("="*50)

soup = BeautifulSoup(sent_1000, 'lxml')
text = soup.get_text()
print(text)
print("="*50)

soup = BeautifulSoup(sent_1500, 'lxml')
text = soup.get_text()
print(text)
print("="*50)

soup = BeautifulSoup(sent_4900, 'lxml')
text = soup.get_text()
print(text)

My dogs loves this chicken but its a product from China, so we wont be buying it anymore.  Its very hard to find any chicken products made in the USA but they are out there, but this one isnt.  Its too bad too because its a good product but I wont take any chances till they know what is going on with the china imports.
==================================================
The Candy Blocks were a nice visual for the Lego Birthday party but the candy has little taste to it.  Very little of the 2 lbs that I bought were eaten and I threw the rest away.  I would not buy the candy again.
==================================================
was way to hot for my blood, took a bite and did a jig  lol
==================================================
My dog LOVES these treats. They tend to have a very strong fish oil smell. So if you are afraid of the fishy smell, don't get it. But I think my dog likes it because of the smell. These treats are really small in size. They are great for training. You can give your dog several of these without worrying about him over eating. Amazon's price was much more reasonable than any other retailer. You can buy a 1 pound bag on Amazon for almost the same price as a 6 ounce bag at other retailers. It's definitely worth it to buy a big bag if your dog eats them a lot.

In [19]:
# https://stackoverflow.com/a/47091490/4084039
import re

def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

In [20]:
sent_1500 = decontracted(sent_1500)
print(sent_1500)
print("="*50)

was way to hot for my blood, took a bite and did a jig  lol
==================================================

In [21]:
#remove words with numbers python: https://stackoverflow.com/a/18082370/4084039
sent_0 = re.sub("\S*\d\S*", "", sent_0).strip()
print(sent_0)

My dogs loves this chicken but its a product from China, so we wont be buying it anymore.  Its very hard to find any chicken products made in the USA but they are out there, but this one isnt.  Its too bad too because its a good product but I wont take any chances till they know what is going on with the china imports.

In [22]:
#remove spacial character: https://stackoverflow.com/a/5843547/4084039
sent_1500 = re.sub('[^A-Za-z0-9]+', ' ', sent_1500)
print(sent_1500)

was way to hot for my blood took a bite and did a jig lol

In [23]:
# https://gist.github.com/sebleier/554280
# we are removing the words from the stop words list: 'no', 'nor', 'not'
# <br /><br /> ==> after the above steps, we are getting "br br"
# we are including them into stop words list
# instead of <br /> if we have <br/> these tags would have revmoved in the 1st step

stopwords= set(['br', 'the', 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've",\
            "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', \
            'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their',\
            'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', \
            'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', \
            'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', \
            'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after',\
            'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further',\
            'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',\
            'most', 'other', 'some', 'such', 'only', 'own', 'same', 'so', 'than', 'too', 'very', \
            's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', \
            've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn',\
            "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn',\
            "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", \
            'won', "won't", 'wouldn', "wouldn't"])

In [24]:
# Combining all the above stundents 
from tqdm import tqdm
preprocessed_reviews = []
# tqdm is for printing the status bar
for sentance in tqdm(final['Text'].values):
    sentance = re.sub(r"http\S+", "", sentance)
    sentance = BeautifulSoup(sentance, 'lxml').get_text()
    sentance = decontracted(sentance)
    sentance = re.sub("\S*\d\S*", "", sentance).strip()
    sentance = re.sub('[^A-Za-z]+', ' ', sentance)
    # https://gist.github.com/sebleier/554280
    sentance = ' '.join(e.lower() for e in sentance.split() if e.lower() not in stopwords)
    preprocessed_reviews.append(sentance.strip())

100%|██████████| 87773/87773 [00:28<00:00, 3094.52it/s]

In [25]:
preprocessed_reviews[1500]

'way hot blood took bite jig lol'

#4.Processing Data for LSTM

In [26]:
import operator

unique_chars = dict()
for review in preprocessed_reviews:
  for word in review.split():
    if word not in unique_chars.keys():
      unique_chars[word] = 1
    else:
      unique_chars[word] += 1

sorted_unique = dict( sorted(unique_chars.items(), key=operator.itemgetter(1),reverse=True))
#print(sorted_unique)

#Give integer index to values
index_num = 1
vocab = dict()
for word in sorted_unique.keys():
  vocab[word] = index_num
  index_num += 1

#print(vocab)

x_lstm = []
i =0 
for review in preprocessed_reviews:
  review_mod = []
  for word in review.split():
     review_mod.append(vocab[word])
  x_lstm.append(review_mod)

y_lstm = final['Score']

print(x_lstm[:10])
print(y_lstm[:10])

[[69, 78, 134, 9, 837, 1964, 124, 722, 118, 30, 134, 107, 45, 1161, 4, 3735, 119, 3, 9, 1964, 145, 4520, 2009, 65, 150, 837, 7546], [69, 12, 467, 443, 53, 3505, 3316, 2624, 45, 837, 825, 1097], [10642, 29494, 1222, 1422, 5215, 187, 750, 47, 9, 863, 266, 15, 1999, 435, 2754, 975, 150, 187, 22958, 15855, 10643, 1832, 1146, 56, 1330, 9, 3580, 27, 19544, 353, 931, 732, 244, 17387, 344, 16, 5869, 353, 931, 622, 63, 253, 15, 975, 146, 467, 365, 2754, 4001, 4412, 29495, 2608, 11089, 615, 10644, 29496, 9, 813, 592, 234], [963, 9, 973, 114, 19, 7, 1146, 14, 556, 39, 468, 1, 2673, 512, 2754, 4223, 801, 281, 7252, 53, 47, 99, 2709, 12163, 2754, 1042, 1584, 29497, 22959, 14653, 300, 1155, 493, 77], [287, 7, 330, 220, 235, 177, 1047, 29498, 51, 1162, 934, 1506, 4095, 216, 247, 2, 29499, 3151, 3206, 14, 507, 3151, 3736, 975, 934, 1047, 2754, 1042, 4944, 4944, 4944, 2052, 1826, 15, 2754, 1042, 2754, 1701, 1812, 1856, 18, 303], [130, 241, 67, 3736, 7547, 750, 110, 9, 855, 4224, 291, 7914], [127, 241, 8763, 201, 3736, 1, 151, 2754, 3151, 7, 1, 60], [19545, 1004, 151, 29, 294, 17388, 525, 583, 324, 973, 2854, 2262, 555, 11090, 29500, 240, 8089, 92, 3736, 19546, 199, 4223, 10241, 413, 1706, 677, 9005, 1271, 29501, 274, 2340, 1404, 1933, 5642, 13652, 3152, 47, 4, 29502, 3715, 763, 1004, 3393, 256, 821, 199, 475, 2483, 4223, 10241, 3151, 4795, 659, 5643, 232, 3151, 141, 18, 990, 1271, 371, 111, 59, 161, 4, 1, 112, 29, 151, 525, 10242, 291, 16, 29, 659, 3375, 3736], [1369, 187, 300, 209, 219, 7390, 2754, 13653, 3151, 14654, 1222, 4412, 3736, 819, 3151, 219, 582, 125, 4, 4647, 19547, 4001, 3177, 280, 9006, 8532, 9277, 206, 1042, 8300, 1577, 1356, 2524, 4756, 92, 3736, 1492, 3151], [536, 1, 592, 234, 2754, 3151, 262, 3580, 47, 49, 9, 750, 85, 1000, 54, 5713, 2754, 15, 300, 296, 28, 15856, 9, 1, 4, 2754, 128, 543, 55, 3887, 435, 302, 803, 9]]
22620    0
22621    1
70677    0
70676    0
70675    0
70673    1
70672    0
70671    1
70670    0
70669    0
Name: Score, dtype: int64

In [47]:
#finding max and min words for processed reviewa
max = 0
min = 0
for review in preprocessed_reviews:
  temp = len(review.split())
  if temp > max:
    max = temp
  if temp < min:
    min = temp

print(max)
print(min)

1596
0

In [27]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_lstm, y_lstm, 
                                                    test_size=0.3, 
                                                    random_state=0)

#5.Model 1:

In [28]:
from keras.datasets import imdb
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
# fix random seed for reproducibility
np.random.seed(7)

In [55]:
# truncate and/or pad input sequences
max_review_length = 600
X_train = sequence.pad_sequences(x_train, maxlen=max_review_length)
X_test = sequence.pad_sequences(x_test, maxlen=max_review_length)

print(X_train.shape)
print(X_train[1])

(61441, 600)
[    0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     0     0     0     0     0     0     0     0
     0     0     0     0     2   878     1    65  2841 54089   438   115
  4213   438  1820    16    29    20 11960  5269    96   878     2    29]

In [56]:
# create the model
embedding_vecor_length = 32
model = Sequential()
model.add(Embedding(len(unique_chars)+1, embedding_vecor_length, input_length=max_review_length))
model.add(LSTM(100))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_19 (Embedding)     (None, 600, 32)           1757536
_________________________________________________________________
lstm_26 (LSTM)               (None, 100)               53200
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 101
=================================================================
Total params: 1,810,837
Trainable params: 1,810,837
Non-trainable params: 0
_________________________________________________________________
None

In [57]:
model.fit(X_train, y_train, epochs=10, batch_size=64)
# Final evaluation of the model
scores = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Epoch 1/10
961/961 [==============================] - 39s 41ms/step - loss: 0.2494 - accuracy: 0.9007
Epoch 2/10
961/961 [==============================] - 40s 41ms/step - loss: 0.1573 - accuracy: 0.9406
Epoch 3/10
961/961 [==============================] - 40s 41ms/step - loss: 0.1212 - accuracy: 0.9558
Epoch 4/10
961/961 [==============================] - 40s 41ms/step - loss: 0.0942 - accuracy: 0.9674
Epoch 5/10
961/961 [==============================] - 40s 42ms/step - loss: 0.0741 - accuracy: 0.9750
Epoch 6/10
961/961 [==============================] - 40s 41ms/step - loss: 0.0567 - accuracy: 0.9809
Epoch 7/10
961/961 [==============================] - 40s 42ms/step - loss: 0.0439 - accuracy: 0.9859
Epoch 8/10
961/961 [==============================] - 40s 42ms/step - loss: 0.0356 - accuracy: 0.9891
Epoch 9/10
961/961 [==============================] - 40s 42ms/step - loss: 0.0278 - accuracy: 0.9912
Epoch 10/10
961/961 [==============================] - 40s 41ms/step - loss: 0.0232 - accuracy: 0.9924
Accuracy: 90.31%

#6.Model 2:

In [71]:
# truncate and/or pad input sequences
max_review_length = 300
X_train = sequence.pad_sequences(x_train, maxlen=max_review_length)
X_test = sequence.pad_sequences(x_test, maxlen=max_review_length)

# create the model
from keras.layers import Dropout

embedding_vecor_length = 32
model = Sequential()
model.add(Embedding(len(unique_chars)+1, embedding_vecor_length, input_length=max_review_length))
model.add(LSTM(75))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

model.fit(X_train, y_train, epochs=10, batch_size=64)
# Final evaluation of the model
scores = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Model: "sequential_32"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_33 (Embedding)     (None, 300, 32)           1757536
_________________________________________________________________
lstm_40 (LSTM)               (None, 75)                32400
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 76
=================================================================
Total params: 1,790,012
Trainable params: 1,790,012
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/10
961/961 [==============================] - 29s 30ms/step - loss: 0.2539 - accuracy: 0.9000
Epoch 2/10
961/961 [==============================] - 29s 30ms/step - loss: 0.1589 - accuracy: 0.9397
Epoch 3/10
961/961 [==============================] - 29s 30ms/step - loss: 0.1237 - accuracy: 0.9545
Epoch 4/10
961/961 [==============================] - 29s 30ms/step - loss: 0.0930 - accuracy: 0.9681
Epoch 5/10
961/961 [==============================] - 29s 30ms/step - loss: 0.0713 - accuracy: 0.9761
Epoch 6/10
961/961 [==============================] - 30s 31ms/step - loss: 0.0555 - accuracy: 0.9820
Epoch 7/10
961/961 [==============================] - 30s 31ms/step - loss: 0.0448 - accuracy: 0.9852
Epoch 8/10
961/961 [==============================] - 29s 31ms/step - loss: 0.0353 - accuracy: 0.9886
Epoch 9/10
961/961 [==============================] - 29s 31ms/step - loss: 0.0275 - accuracy: 0.9914
Epoch 10/10
961/961 [==============================] - 30s 31ms/step - loss: 0.0274 - accuracy: 0.9913
Accuracy: 90.40%

#7.Model 3:

In [76]:
# truncate and/or pad input sequences
max_review_length = 300
X_train = sequence.pad_sequences(x_train, maxlen=max_review_length)
X_test = sequence.pad_sequences(x_test, maxlen=max_review_length)

# create the model
from keras.layers import Dropout

embedding_vecor_length = 32
model = Sequential()
model.add(Embedding(len(unique_chars)+1, embedding_vecor_length, input_length=max_review_length))
model.add(LSTM(70,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(70,return_sequences=True))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

model.fit(X_train, y_train, epochs=10, batch_size=64)
# Final evaluation of the model
scores = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Model: "sequential_37"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_38 (Embedding)     (None, 300, 32)           1757536
_________________________________________________________________
lstm_49 (LSTM)               (None, 300, 70)           28840
_________________________________________________________________
dropout_20 (Dropout)         (None, 300, 70)           0
_________________________________________________________________
lstm_50 (LSTM)               (None, 300, 70)           39480
_________________________________________________________________
dropout_21 (Dropout)         (None, 300, 70)           0
_________________________________________________________________
dense_32 (Dense)             (None, 300, 1)            71
=================================================================
Total params: 1,825,927
Trainable params: 1,825,927
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/10
961/961 [==============================] - 38s 39ms/step - loss: 0.4383 - accuracy: 0.8412
Epoch 2/10
961/961 [==============================] - 38s 40ms/step - loss: 0.4212 - accuracy: 0.8466
Epoch 3/10
961/961 [==============================] - 38s 39ms/step - loss: 0.4150 - accuracy: 0.8491
Epoch 4/10
961/961 [==============================] - 38s 39ms/step - loss: 0.4106 - accuracy: 0.8508
Epoch 5/10
961/961 [==============================] - 38s 39ms/step - loss: 0.4071 - accuracy: 0.8520
Epoch 6/10
961/961 [==============================] - 38s 40ms/step - loss: 0.4043 - accuracy: 0.8530
Epoch 7/10
961/961 [==============================] - 38s 40ms/step - loss: 0.4032 - accuracy: 0.8534
Epoch 8/10
961/961 [==============================] - 38s 40ms/step - loss: 0.4009 - accuracy: 0.8542
Epoch 9/10
961/961 [==============================] - 38s 39ms/step - loss: 0.3997 - accuracy: 0.8547
Epoch 10/10
961/961 [==============================] - 39s 40ms/step - loss: 0.3994 - accuracy: 0.8548
Accuracy: 84.36%

#7.Conclusion

In [77]:
from prettytable import PrettyTable
x = PrettyTable()
x.field_names = ["Model", "Accuracy"]


x.add_row(["LSTM", 90.31])
x.add_row(["LSTM", 90.40])
x.add_row(["LSTM 2 -layers", 84.36])
print(x)

+----------------+----------+
|     Model      | Accuracy |
+----------------+----------+
|      LSTM      |  90.31   |
|      LSTM      |   90.4   |
| LSTM 2 -layers |  84.36   |
+----------------+----------+

In [ ]:
#https://www.analyticsvidhya.com/blog/2017/12/fundamentals-of-deep-learning-introduction-to-lstm/