<a href="https://colab.research.google.com/github/PhaneendraYedidi/Machine-Learning-Practices/blob/master/Python_Practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task: Function that inputs a number and prints the multiplication table of that number**

In [11]:
num = input('Enter a number to print the table: ')

def printTable(num):  
  for i in range(1,11,1): #rnage(start,stop,step)
    print(str(i)+ ' * ' + str(num) + ' = ' + str(num*i))

print('The table for the number : ' + num)
printTable(int(num))

Enter a number to print the table: 14
The table for the number : 14
1 * 14 = 14
2 * 14 = 28
3 * 14 = 42
4 * 14 = 56
5 * 14 = 70
6 * 14 = 84
7 * 14 = 98
8 * 14 = 112
9 * 14 = 126
10 * 14 = 140